[submodule "deps/json-c"]
	path = deps/json-c
	url = https://github.com/json-c/json-c.git
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
[submodule "deps/geoip-api-c"]
	path = deps/geoip-api-c
	url = https://github.com/maxmind/geoip-api-c.git
